/* using universal selectotr " * " to target whole page for background color */

*{
    background-color:lightgray;
}

/* type selector "h1" to change title of page to cetnter page, chaging color to blac, making it bolder */

h1{
    color: black;
    text-align: center;
    font-weight: bolder;
}

/* chain type selector to change types "div" and "li" to center list links and IMAGE */

div,
li{
    text-align: center;
    list-style-position: inside;
}

